ADMOB_ANDROID_INTERSTITIAL_ID=ca-app-pub-xxxxxxxxxxxxxxxx/yyyyyyyyyy
ADMOB_ANDROID_REWARDED_ID=ca-app-pub-xxxxxxxxxxxxxxxx/yyyyyyyyyy
ADMOB_IOS_INTERSTITIAL_ID=ca-app-pub-xxxxxxxxxxxxxxxx/yyyyyyyyyy
ADMOB_IOS_REWARDED_ID=ca-app-pub-xxxxxxxxxxxxxxxx/yyyyyyyyyy
IOS_PREMIUM_MONTHLY_PRODUCT_ID=premium_monthly
ANDROID_PREMIUM_MONTHLY_PRODUCT_ID=premium_monthly
IOS_SMALL_COINS_PRODUCT_ID=coins_small
ANDROID_SMALL_COINS_PRODUCT_ID=coins_small
